<div id="masonry" class="row">
  {% for project in site.data.projects %}
  <div class="col s12 m6 l4 center-card project">
    <div class="card" style="background-color: {{ project.background }}; color: {{ project.color }}">
      <div class="card-image">
        <img src="{{project.image}}">
        <span class="card-title">{{project.title}}</span>
      </div>
      <div class="card-content">
        <p>{{project.description}}</p>
      </div>
      <div class="card-action">
        <a style="color: {{ project.color }};" href="{{project.link}}">View</a>
      </div>
    </div>
  </div>
  {% endfor %}
</div>
