html {
  height: 100%;
}

body.loaded .content:after {
  opacity: .2;
}

body {
  height:100%;
}

.content {
  min-height: calc(100vh - 70px);
  margin-bottom: 0;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  flex-direction: column;
  position: relative;
}

.row .item.col {
  padding: 0;
  margin: 0;
  flex: 1 1 auto;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  align-items: center;
}

.content-wrapper {

}

.background {
  height: 100vh;
  width: 100vw;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;
  background-size: cover;
  position: fixed;
  z-index: -100;
}

.header.title {
  height: 100%;
  width: 100%;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: #fff;
  font-weight: 100;
}

.content:after {
  width: 100%;
  height: 100%;
  display: block;
  content: ' ';
  position: absolute;
  background: #1e88e5;
  z-index: -1;
  top: 0;
  left: 0;
  opacity: 1;
  -webkit-transition: opacity 2s, background 1s!important;
  transition: opacity 2s, background 1s!important;
}

.home.content:after {
  background: #1e88e5;
}

.blog.content:after {
  background: #FFEA00;
}

.projects.content:after {
  background: #fb8c00;
}

.staff.content:after {
  background: #5e35b1;
}

  .header.title > * {
    z-index: 3;
  }

  .header.title h1 {
    text-transform: uppercase;
    font-weight: 100;
  }

  .header.title .ui.sub.header {
    margin: 0 10px;
    margin-left: 20px;
  }

.logo {
  width: 90%;
  max-width: 400px;
  padding: 1em 0;
  margin: 0 auto;
}

.typed_wrapper {
  display: inherit;
  font-size: 20px;
}

.typed-cursor{
    opacity: 1;
    -webkit-animation: blink 0.7s infinite;
    -moz-animation: blink 0.7s infinite;
    animation: blink 0.7s infinite;
}

@keyframes blink{
    0% { opacity:1; }
    50% { opacity:0; }
    100% { opacity:1; }
}
@-webkit-keyframes blink{
    0% { opacity:1; }
    50% { opacity:0; }
    100% { opacity:1; }
}
@-moz-keyframes blink{
    0% { opacity:1; }
    50% { opacity:0; }
    100% { opacity:1; }
}

.tab_wrapper {
  padding: 0 1rem!important;
}

.item {
  text-align: left;
  position: relative;
}

.slick-list {
  width: 100%;
  height: 100%;
}

.slick-track {
  height: 100%;
}

.slick-initialized .slick-slide {
  /*display: block!important;*/
}

.staff {
  margin-left: 0!important;
}

  .staff .avatar {
    width: 150px;
    display: block;
    margin: 0 auto;
    box-shadow: 0em 0em 0em 0.7em rgba(0, 0, 0, 0.1);
  }

  .staff .name {
    font-weight: 300;
    text-transform: uppercase;
    font-style: italic;
    text-align: center;
    color: #fff;
  }

  .staff .sub.header {
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }

    .staff .sub.header .title {
      text-transform: uppercase;
      font-style: italic;
      color: #1e88e5;
      font-weight: 300;
      font-size: 12px;
    }

  .staff .links i {
    margin-left: 10px;
    -webkit-transition: color .25s;
    transition: color .25s;
  }

  .staff .links i:hover {
    color: #ffd600;
  }

.item > .row {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  width: 100%;
}

.center-card {
  margin: 0!important;
}

#blog .card {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  background-color: transparent;
  box-shadow: none;
}

  #blog .card .date_wrapper {
    background: #3f51b5;
    height: 200px;
    min-width: 200px;
    position: relative;
  }
    #blog .card .date {
      display: inline-block;
      display: -moz-inline-box;
      display: -webkit-inline-box;
      display: -ms-inline-box;
      position: absolute;
      text-align: right;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      font-weight: 300;
      font-size: 60px;
      color: #fff;
      line-height: 1;
    }

    #blog .card .card-image span {
      font-weight: 100;
      font-size: 50px;
    }

  #blog .card .card-sub .card-title, #blog .modal-content #post_title {
    color: #3f51b5;
    font-style: italic;
  }

  #blog .card .card-action a {
    color: #3f51b5;
    padding: 0 .25em;
  }

  #blog .card .card-action a:hover {
    color: #707ECE;
  }

  #blog .card .card-sub {
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    background-color: #fff;
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
    width: 100%;
  }

  #blog .card .card-action {
    padding: 10px 20px;
  }

.card .card-action a:not(.btn):not(.btn-large):not(.btn-floating) {
  color: #2196F3;
  opacity: .5;
  -webkit-transition: opacity .25s;
  transition: opacity .25s;
}

  .card .card-action a:not(.btn):not(.btn-large):not(.btn-floating):hover {
    color: #76C2FF;
    opacity: .8;
  }

footer.page-footer {
  margin-top: 0;
  background: #424242;
}

footer.page-footer .footer-copyright {
  background-color: rgba(51,51,51,0.2);
}

.tabs {
  background-color: #1e88e5;
  overflow: visible;
}

  .tabs .tab a:hover {
    color: #ffff00;
  }

.tabs .indicator {
  background-color: #ffea00;
}

  .tabs .tab a {
    color: #ffea00;
  }

@media only screen and (max-width: 601px) {
  #blog .card {
    flex-direction: column;
  }

  .tab_wrapper {
    padding: 0!important;
  }
}
