<!DOCTYPE html>
<html>
  <head>
    <title>Rhosoft</title>
    <meta name="viewport" content="width=device-width, height=device-height, initial-scale=1.0, user-scalable=0, minimum-scale=1.0, maximum-scale=1.0">
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
    <link rel="stylesheet" href="/assets/css/materialize.css" />
    <link rel="stylesheet" href="/assets/css/style.css" />
  </head>
  <body>
      <div class="background"></div>
      {{ content }}
      {% include footer.html %}
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
    <script src="/assets/js/imageload.js"></script>
    <script src="/assets/js/typed.min.js"></script>
    <script src="/assets/js/materialize.js"></script>
    <script src="https://npmcdn.com/masonry-layout@4.0.0/dist/masonry.pkgd.min.js"></script>
    <script src="https://cdn.rawgit.com/meetselva/attrchange/master/js/attrchange.js"></script>
    <script src="/assets/js/index.js"></script>
  </body>
</html>
